<div class="indmoviesContainer">
     
    <div class="container indMovie">
      <div class="movieCard">
        <div class="overLay">
            <div class="vidplay">
              <!-- <Iframe
                url={`https://www.youtube.com/watch?v=${videoId}}`}
                width="100%"
                playing={true}
                muted
                height="800px"
              /> -->
              <button>X</button>
            </div>
            <img src="" alt="">
            <div class="movieInfo">
              <a href="">
                <!-- <KeyboardBackspaceIcon style={{ color: "#ffff" }} /> -->
              </a>
              <h1>title: {{movieData.title}}</h1>
              <p>Rating: {{movieData.vote_average}}</p>
              <p>overview: {{movieData.overview}}</p>
              <p id="date">
                Release Date:<span id="relsDate">{{movieData.release_date}}</span>
              </p>
              <p id="date">
                Orignal Language:{{movieData.original_language}}
                <span id="relsDate"></span>
              </p>
              <button class="playTrailerButton" >
                Play the trailer
              </button>
            </div>
        </div>
      </div>
    </div>
  </div>