<div class="indmoviesContainer">
     
    <div class="container indMovie">
      <div class="movieCard">
        <div class="overLay">
            <div class="vidplay">
              <!-- <Iframe
                url={`https://www.youtube.com/watch?v=${videoId}}`}
                width="100%"
                playing={true}
                muted
                height="800px"
              /> -->
              <button (click)="backward()"><span>←</span></button>
            </div>
            <!-- <img class="posterImg" src="https://image.tmdb.org/t/p/w500/{{movieData.poster_path}}" alt=""> -->
            <div class="movieInfo">
              <a href="">
                <!-- <KeyboardBackspaceIcon style={{ color: "#ffff" }} /> -->
              </a>
              <h1>Title: {{movieData.title}}</h1>
              <p>Rating: {{movieData.vote_average}}</p>
              <p>overview: {{movieData.overview}}</p>
              <p id="date">
                Release Date:<span id="relsDate">{{movieData.release_date}}</span>
              </p>
              <p id="date">
                Orignal Language:{{movieData.original_language}}
                <span id="relsDate"></span>
              </p>
              <!-- <button class="playTrailerButton" >
                Play the trailer
              </button> -->
              <div class="modal-container">
                <input id="modal-toggle" type="checkbox">
                <button (click)="getVideo()">Play the trailer</button>
                <div class="modal-backdrop">
                  <div class="modal-content">
                    <!-- <img src="https://image.tmdb.org/t/p/w500/{{movieData.poster_path}}" alt=""> -->
                    <iFrame [src]="controllerSrc" width="100%" height="100%" ></iFrame>
                    <label class="modal-close" for="modal-toggle">x</label>
                    <!-- <h2>Modal title</h2> -->
                    <!-- <hr /> -->
                    <!-- <p>Modal Content</p> -->
                    <!-- <label class="modal-close button" for="modal-toggle">Close</label> -->
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>